
<h1>Welcome to YelpDemo</h1>
<h2>This is one of the pages in a sample application of 
	<a href="http://www.baserails.com">BaseRails</a>, a platform that teaches people to build awesome custom websites with the Ruby on Rails programming language.  Sign up and start learning today!</h2>

<!--<p>Find me in app/views/pages/about.html.erb</p>-->
